body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.InputTodo{
  padding: 1rem;
}

.App{
  text-align: center;
  margin-top: 10%;
}

.btnAddTodo{
  padding: 1rem;
  margin-left: 2%;
}

.TodoListUl{
  font-size: 20px;
}
.TodoListX{
  font-size: 20px;
  cursor: pointer;
  color: red;
  margin-left: 2%;
}

.TodoListCheck{
  margin-right: 2%;
}